* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  background-color: #001A5E;
  flex-direction: column;
  font-family: "Comic Sans MS";

}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 100%;
  margin-right: 1vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
  margin-left: 150px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: lightgray;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffff;
  font-size: 18px;
}

.brand-list {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #ffffff;
  /* font-weight: bold; */
  font-size: 18px;
}


.logout {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #ffffff;
  font-size: 18px;
}

.sign-up {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.snippet-name-header{
  font-size: 30px;
  color: #ffffff;
  padding: 0px 10px 0px 10px;
}
.snippet-name-header2{
  font-size: 30px;
  color: #ffffff;
  padding: 10px 10px 0px 10px;
}